.logo{
	width: 80px;
	height: 80px;
	float: left;
}

.header{
	background: #fff;
	margin: 0 auto;
	width: 900px;
	height: 120px;
	border-bottom: 1px solid #000;
}

.header1{
	background-image: url('images/header-bg.jpg')
	margin: 0 auto;
	width: 900px;
	height: : 150px;
}

.header1 h1{
	text-align: center;
	font-family: sans-serif;
	color: #fff;
}

.header small{
	font-size: 50%;
	font-style: italic;
}